@page "/"
@attribute [Authorize]

<h1>Hello, world!</h1>
<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.FindFirst(ClaimTypes.Name)!.Value</h1>
    </Authorized>
</AuthorizeView>
