@if (Show)
{
    <div
    class="fixed right-0 top-0 w-full h-full bg-gray-900/5 backdrop-blur-md flex justify-center items-center z-[100000]">
    <div class="relative max-h-full w-full max-w-md p-4">
        <div class="relative rounded-lg bg-white shadow">
            <div class="p-4 text-center md:p-5">
                <svg class="mx-auto mb-4 h-8 w-8 text-gray-400 dark:text-gray-200" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <h3 class="mb-5 font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete these
                    messages?</h3>

                <div class="space-x-5">
                    <button class="font-semibold text-red-500 hover:text-red-600"
                        @onclick="DeleteClicked">Delete</button>
                    <button class="font-semibold text-gray-500 hover:text-gray-600"
                        @onclick="CancelClicked">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
}

@code {
    [Parameter] public bool Show { get; set; }
    [Parameter] public EventCallback OnDeleteClicked { get; set; }
    [Parameter] public EventCallback OnCancelClicked { get; set; }

    private void DeleteClicked() => OnDeleteClicked.InvokeAsync();
    private void CancelClicked() => OnCancelClicked.InvokeAsync();
}