<div class="h-full w-full space-y-2">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="my-2">
            <ErrorAlert ErrorMessage="@errorMessage" OnCloseClicked="(() => errorMessage = string.Empty)" />
        </div>
    }

    <div>
        <h1 class="text-2xl font-medium dark:text-gray-100">Requests</h1>
    </div>

    <div class="h-full w-full">
        @if (!DisplayRequests)
        {
            <DefaultSpinner />
        }
        else
        {
            <div class="font-medium dark:text-gray-200">Your connection requests</div>
            <ul class="mb-5 space-y-2 max-h-52 overflow-y-auto px-2">
            <hr />
            @if (AppState.SentContactRequests.Any())
                {
                    foreach (var r in AppState.SentContactRequests)
                    {
                        <li>
                            <SentContactRequest Request="r"
                                OnCancelClicked="(() => HandleCancellingContactRequestAsync(r.RequestId))" />
                        </li>
                    }
                }
                else
                {
                    <div class="h-20 flex justify-center items-center">
                        <div class="dark:text-gray-200">Nothing sent from you</div>
                    </div>
                }
            </ul>

            <div class="font-medium dark:text-gray-200">Sent to you</div>
            <ul class="mb-5 space-y-2 max-h-52 overflow-y-auto px-2">
            <hr />
            @if (AppState.IncomingContactRequests.Any())
                {
                    foreach (var r in AppState.IncomingContactRequests)
                    {
                        <li>
                            <IncomingContactRequest Request="r" OnAcceptClicked="(() => AcceptContactRequestAsync(r.RequestId))"
                                OnDeclineClicked="(() => DeclineContactRequestAsync(r.RequestId))"
                                DisableButtons="isMakingApiCall" />
                        </li>
                    }
                }
                else
                {
                    <div class="h-20 flex justify-center items-center">
                        <div class="dark:text-gray-200">No incoming requests</div>
                    </div>
                }
            </ul>
        }
    </div>
</div>