<div style="max-height:79vh !important;"
    class="p-4 bg-white border border-gray-200 overflow-y-scroll rounded-lg shadow min-w-full h-min-[80%]  flex-1 dark:bg-gray-800 dark:border-gray-700">
</div>