
<div class="block min-w-full min-h-[2%] p-1.5 bg-white border top-1 mt-0 mb-2 m-2 border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="flex items-center gap-4">
        <div class="relative w-8 h-8 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 ml-3">
            <svg class="absolute w-10 h-10 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
        </div>
        <div class="font-medium dark:text-white">
            <div class="text-xl">Shadi wael</div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Last seen yesterday.</div>
        </div>
    </div>
</div>
@code {

}
