@inject NavigationManager Nav

<div @onclick="ChatClicked"
    class="flex items-center bg-white border border-gray-200 rounded-lg shadow lg:flex-row lg:min-w-full md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <div class="flex items-center gap-4 p-2">
        <div>
            <img class="h-[50px] w-[50px] rounded-full"
                src="@(ContactModel.Contact!.ProfilePictureUrl ?? "/images/avatar.png")"
                alt="@ContactModel.Contact.Name" />
        </div>

        <div class="font-medium dark:text-white">
            <div>@ContactModel.Contact!.Name</div>
            <div class="text-sm text-gray-500 dark:text-gray-400">how are you bich</div>
        </div>
    </div>
</div>
@code {
    [Parameter] public ContactDto ContactModel { get; set; } = null!;

    private void ChatClicked()
    {
        Nav.NavigateTo($"/{ContactModel.ThreadId}");
    }
}
