@inherits LayoutComponentBase

<div class="w-full h-screen overflow-hidden">
    <div class="text-blue-900 text-xl text-center py-4 absolute -z-10 inset-0">
        <div class="font-light text-lg">Flow</div>
    </div>

    <div>
        @Body
    </div>
</div>