@inherits LayoutComponentBase
@inject IJSRuntime Js

<SearchUsersModal Show="showSearchModal" OnCloseClicked="CloseSearchModal" />

<main class="h-screen overflow-hidden">
    <SideBar OnSearchButtonClicked="OpenSearchModal" />
    <div class=" sm:ml-80 min-h-full">
        @Body
    </div>
</main>
<style type="text/css">
    ::-webkit-scrollbar {
        width: 6px;
        height: 4px;
        background: transparent;
        border-radius: 30px;
    }

    ::-webkit-scrollbar-thumb {
        max-height: 20px;
        background-color: lightgray;
        -webkit-border-radius: 1ex;
    }
</style>
@code {
    private bool showSearchModal = false;
    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        await Js.InvokeVoidAsync("window.initializeFlowbite");
    }

    private void OpenSearchModal() => showSearchModal = true;

    private void CloseSearchModal() => showSearchModal = false;
}
